.color_text{
  color: #ffffff;
}
.we_ship{
  font: 400 73.07px "KingCoolKC";
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 0px;
}
.globally{
  font: 400 224.74px "KingCoolKC";
  text-shadow: 2px 2px 2px #e49dc7;
  line-height:270px;
}
.now_to{
  color: #fff;
  font: 400 71.17px "KingCoolKC";
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 75px;
  .number_contries{
    color: #00b5b5 !important;
    text-shadow: 2px 2px 2px #e49dc7;
  }
}
.free_shipping{
  color: #ffffff;
  font: 400 25px "BellGothicStdBlack";
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 20px;
}
.entire_site{
  color: #ffffff;
  font: 400 120.42px "KingCoolKC";
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 100px;

}
.up_to{
  font: 400 36px "KingCoolKC";
  color: #ffffff;
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 12px;
}
.number_off{
  color: #ffffff;
  font: 400 28px "KingCoolKC";
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #e49dc7;
  line-height: 25px;
}


/******************** Slider V2****************************/

.slide_v2{
  .coats{
    line-height: 0px;
  }
  .and{
    color: $gray-base;
    font: 400 83.92px "BellGothicStdBold";
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 75px;

  }
  .note_slide2{
    line-height: 40px !important;
  }
  .shop_now{
    color: $gray-base;
    font: 400 30px "KingCoolKC";
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 30px;
  }
  .jackets{
    color: $gray-base;
    font: 400 163px "MouseMemoirsRegular";
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 150px;
  }
  .note_slide2{
    color: #e41d2e;
    font: 400 37.95px "KingCoolKC";
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #fadcca;

  }
  .look_to{
    color: #fff;
    font: 400 68.33px "KingCoolKC";
    text-shadow: 2px 2px 2px #7fbdde;
    line-height: 57px;
  }
  .girls{
    color: #fff;
    font: 272.92px "MouseMemoirsRegular";
    text-shadow: 8px 8px 8px #011fb9;
    line-height: 0px;
  }
  .note_slide1{
    color: #fff;
    font: 400 28.09px "BellGothicStdBold";
    letter-spacing: 2px;
    text-transform: 2px 2px 2px #67b9e6;
    .font_diferent{
      font: 400 28.09px "BellGothicStdBlack";
    }
  }
  .line_slide{
    box-shadow: 8px 8px 8px #81bee6;
    line-height: 0px;
  }
}

/*********************************/
/******** Slide 3 ***************/
.slide-v3 {
  .coats {
    line-height: 0px;
  }
  .and {
    color: $gray-base;
    font: 400 83.92px "BellGothicStdBold";
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 75px;
  }
  .jackets {
    color: $gray-base;
    font: 400 163px "MouseMemoirsRegular";
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 150px;
  }
  .note_slide2 {
    color: #e41d2e;
    font: 400 37.95px "KingCoolKC";
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #fadcca;
    line-height: 55px !important;

  }
}

